.idea
cmake-build-debug

# Ignore executable builds.
**/*.out
**/*.exe

# Ignore object-file builds.
src/lib/**/*.o
src/lib/**/*.obj

# Ignore static-library builds.
src/lib/**/*.a
src/lib/**/*.lib

# Ignore shared local variables file from `config.bat`.
**/shared-config-local-variables.bat

# Ignore MSVC compilation temp files.
**/*.idb
**/*.pdb
**/*.pch
